<!-- Hero section -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Learn <span class="text-warning">Web development</span></h1>
        <p class="lead my-4">
          Welcome to <span class="text-info">WebDevCheatSheet</span>, your go-to
          destination for mastering the fundamentals of web development.
        </p>

        <a routerLink="/about" class="btn btn-primary mb-lg-5 btn-hero">
          Learn about us
        </a>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="assets/pictures/main.svg"
        alt=""
      />
    </div>
  </div>
</section>

<!-- Hero section -->
<section class="bg-primary text-light p-3 shadow">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <h1 class="h3">
        Learn <span class="text-extra">Frontend</span> and
        <span class="text-extra">Backend</span> concepts free and easily
      </h1>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-3">
      <span>Check out on github, and other platforms</span>
      <a
        class="github-button"
        href="https://github.com/BenceBiricz/WebCheatSheet"
      >
        <i class="bi bi-github h1"></i>
      </a>
      <a href="https://www.tiktok.com/@webdevguy5" class="github-button">
        <i class="bi bi-tiktok h2"></i>
      </a>
      <a href="https://www.tiktok.com/@webdevguy5" class="github-button">
        <i class="bi bi-quora h2"></i>
      </a>
    </div>
  </div>
</section>

<div class="section pt-5">
  <router-outlet></router-outlet>
</div>
