.section {
  min-height: 100dvh;
}

.btn-hero {
  font-size: 1rem;
  transition: transform 0.6s;
}

.btn-hero:hover {
  transform: translateX(10px);
}

.text-extra {
  font-weight: 700;
  color: yellowgreen;
}

.github-button {
  color: black;

  transition: color 0.4s ease-out, transform 0.7s ease-out;
}

.github-button:hover {
  color: white;

  transform: rotate(360deg) scale(120%);
}
