<div
  *ngIf="myBoolean$ | async"
  class="bg-dark pt-3 bg-gradient text-light fixed-bottom"
>
  <div
    class="d-flex flex-column justify-content-center align-items-center gap-3"
  >
    <div class="d-flex w-100 align-items-center justify-content-between px-4">
      <div class="p-4"></div>
      <h4>{{ choosenItem }}</h4>
      <button class="btn text-light" (click)="toggleBoolean()">
        <i class="bi bi-x-circle h2"></i>
      </button>
    </div>

    <div
      class="bg-secondary bg-gradient d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-center size gap-3 p-4"
    >
      <div class="content">
        <h5>Code snippet</h5>
        <textarea class="my-textarea p-3" rows="5">{{ codeSnippet }}</textarea>
      </div>

      <div class="content">
        <h5>Description</h5>
        <div class="description-content p-3">{{ description }}</div>
      </div>
    </div>
  </div>
</div>
