<div *ngIf="loaded" class="container pb-5">
  <button class="btn bnt-primary" (click)="back()">
    <i class="bi bi-arrow-left-circle-fill h1"></i>
  </button>

  <h1 class="text-center mb-5">
    {{ data.title }}
  </h1>

  <p>
    {{ data.description }}
  </p>

  <h2>{{ data.subtitle }}</h2>

  <p>
    {{ data.paragraph }}
  </p>

  <div class="d-flex justify-content-center w-100 mt-5 mb-5">
    <img
      class="img-fluid w-75 shadow"
      [src]="'assets/pictures/' + data.picture"
      alt=""
    />
  </div>

  <h2>
    {{ data.listTitle }}
  </h2>

  <ol>
    <li *ngFor="let item of data.list">
      {{ item.item }}
    </li>
  </ol>

  <h2>Conclusion</h2>

  <p>
    {{ data.conclusion }}
  </p>
</div>
