.list-title {
  padding: 10px 20px;
  margin: 0;
}

.list-item {
  list-style: none;
  padding: 10px 20px;

  .list-item-text {
    font-weight: 400;
    text-decoration: none;
    color: grey;
  }
}

.card {
  padding: 0 !important;
}
