<app-navbar></app-navbar>

<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Learn <span class="text-warning">Web development</span></h1>
        <p class="lead my-4">
          Welcome to <span class="text-info">WebDevCheatSheet</span>, your go-to
          destination for mastering the fundamentals of web development.
        </p>

        <button class="btn btn-primary btn-lg">Lets jump right into it</button>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="assets/pictures/main.svg"
        alt=""
      />
    </div>
  </div>
</section>
