<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 sticky-top">
  <div class="container">
    <a href="#" class="navbar-brand">WebDev CheatSheet</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/html" routerLinkActive="active"
            >HTML</a
          >
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/css" routerLinkActive="active"
            >CSS</a
          >
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/typescript" routerLinkActive="active"
            >TypeScript</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
