li {
  transition: transform 0.4s;
}

li:hover {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

  transform: scale(110%);

  a {
    color: rgb(35, 138, 207) !important;
  }
}
