<!-- Boxes section -->
<section class="p-5">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <h1 class="mb-3">{{ title }}</h1>
    </div>

    <div class="row d-flex align-items-center search-wrapper mb-4 w-25">
      <a class="search-input" (click)="searchText(search.value)">
        <i class="bi bi-search"></i
      ></a>

      <input
        #search
        type="text"
        class="form-control"
        id="search"
        aria-describedby="Searchtext"
      />
    </div>

    <div class="row gx-5">
      <!-- Cards -->
      <div *ngFor="let column of data" class="col-md-3">
        <div *ngFor="let card of column.columnItem" class="row mb-4">
          <div class="card rounded-3 shadow">
            <h5 class="rounded-top-3 card-title bg-dark text-light list-title">
              {{ card.title }}
            </h5>
            <ul class="m-0 p-0">
              <li
                *ngFor="let item of card.items"
                class="list-item"
                (click)="onClick(item)"
              >
                <a class="list-item-text">{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- end -->
    </div>
  </div>
</section>

<app-extra-overlay [choosenItem]="itemName"></app-extra-overlay>
<!-- 
[codeSnippet]="data[0].columnItem[0].test[0]?.codeSnippet"
[description]="data[0].columnItem[0].test[0]?.description" -->
