/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

// Card styling
.list-title {
  padding: 10px 20px;
  margin: 0;
}

.list-item {
  list-style: none;
  padding: 10px 20px;

  .list-item-text {
    font-weight: 400;
    text-decoration: none;
    color: grey;
  }
}

.card {
  padding: 0 !important;
}

li:hover {
  background-color: rgb(208, 211, 208);
  cursor: pointer;

  a {
    color: blue !important;
  }
}
