<div class="p-4 bg-dark text-light shadow">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-3">
        <img class="img-fluid" src="assets/pictures/favicon.png" alt="" />
        <span class="text">WebDev CheatSheet</span>
      </div>

      <a class="link" routerLink="/blogs">Blog</a>
      <a class="link" routerLink="/about">About us</a>

      <span class="text">2024, Made by Biricz Bence </span>
    </div>
  </div>
</div>
