<div class="p-4 bg-dark text-light shadow">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column w-25">
        <a class="link text" routerLink="/blogs">Blogs</a>
        <a class="link text" routerLink="/about">About us</a>
      </div>

      <div class="d-flex align-items-center gap-3 w-25">
        <img class="img-fluid" src="assets/pictures/favicon.png" alt="" />
        <span class="text">WebDev CheatSheet</span>
      </div>

      <span class="text w-25 text-end">2024, Made by Biricz Bence </span>
    </div>
  </div>
</div>
