<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card text-white bg-dark w-100 h-100 shadow rounded-4">
        <img
          class="card-img-top img-round"
          src="assets/pictures/test.png"
          alt="Card image cap"
        />
        <div class="card-body p-4">
          <h5 class="card-title">
            The Power of Cheat Sheets: A Shortcut to Learning
          </h5>
          <p class="card-text">
            Are you looking for a quick and effective way to learn new things?
            Look no further than cheat sheets.
          </p>
          <a
            routerLink="/articles"
            routerLinkActive="active"
            class="btn btn-light"
            >Open article</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
