<div class="container">
  <div class="d-flex justify-content-center pb-5">
    <h1>Blogs</h1>
  </div>

  <div class="row">
    <div *ngFor="let blog of blogs" class="col-6">
      <div class="w-100 h-100 rounded-4">
        <button class="blog-btn" (click)="openArticle(blog.data)">
          <img
            class="img-round"
            [src]="'assets/pictures/' + blog.img"
            alt="Card image cap"
          />
        </button>

        <div class="card-body pt-4">
          <h5 class="card-title">
            {{ blog.title }}
          </h5>
          <p class="card-text">
            {{ blog.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
